/assets/*
/bin/*
/gen/*
/libs/*
/res/*


*.classpath
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

*.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

windigo-library/.project

windigo-sample/.project

*.dex

windigo-sample/bin/jarlist.cache

windigo-sample/bin/resources.ap_
